<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style type="text/css">
        table td
        {
            color: white;
            border-color: gray;
        }
        table th {
            color: white;
        }    
        </style>
</head>
<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
        user:JSON.parse(localStorage.getItem('user')),
        logout:()=>{
            localStorage.clear()
            document.location.href = "/home.html"
        }
    }).mount("body")
</script>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Upcoming Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="music.html">Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="media.html">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <div><h5 v-if="user">Logged in as: {{user.name}} | <span style="cursor: pointer;" @click="logout">Logout</span></h5> </div>
        <div><h5 v-if="!user"><span style="cursor: pointer;" @click="document.location.href='login.html';">Log In or Sign Up</span></h5> </div>
    </nav>

    <section class="background" id="events">
        <div class="container mt-5">
            <h1 style="color: white;">Upcoming Events</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Venue</th>
                        <th>Location</th>
                        <th>Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>January 1, 2023</td>
                        <td>The Volkswagen Arena</td>
                        <td>Beşiktaş</td>
                        <td><a href="shop.html" class="btn btn-primary">Purchase Tickets</a></td>
                    </tr>
                    <tr>
                        <td>February 14, 2023</td>
                        <td>Atatürk Stadyumu</td>
                        <td>Başakşehir</td>
                        <td><a href="shop.html" class="btn btn-primary">Purchase Tickets</a></td>
                    </tr>
                    <tr>
                        <td>March 30, 2023</td>
                        <td>DoRock XL Venue</td>
                        <td>Kadıköy</td>
                        <td><a href="shop.html" class="btn btn-primary">Purchase Tickets</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous">
    </script>
        <footer class="bg-dark">
            <div class="container">
                <p style="color: lightgrey;">Copyright - My Band 2022</p>
            </div>
        </footer>
</body>

</html>